* {
    box-sizing: border-box; /* Giúp tính toán kích thước padding không làm vỡ layout */
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* Mẹo hay: Quy đổi 1rem = 10px để dễ tính toán sau này */
    /* Để biến con số mặc định 16px thành 10px, chúng ta làm phép tính ngược: 10/16 = 0.625 = 62.5% */
}

body {
    font-family: "Poppins", sans-serif; /* Áp dụng font cho toàn web */
    font-size: 1.4rem; /* = 14px (Dựa trên 1rem = 10px ở trên) */
    line-height: 1.6; /* Khoảng cách dòng chuẩn cho dễ đọc */
}

:root {
    --primary-color: #0f1b4c;
}

.main-content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    padding: 18px 16px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
/*========================== HEADER ========================== */
.header {
    background: #e6f0ff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .menu {
    list-style: none;
    display: flex;
    margin-left: 50px;
    gap: 0;
}

.navbar a {
    text-decoration: none;
}

.navbar ul a {
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px;
}

.action-link:hover,
.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    color: #0f1b4c;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 10px 22px;
    margin-left: 18px;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.9;
}

/* ============================================= */

/*================================================ HERO =========================================================== */
.hero-section {
    position: relative;
    display: flex;
    /* Đặt các phần tử con theo chiều dọc và căn giữa */
    flex-direction: column;
    /* Căn giữa theo chiều dọc */
    justify-content: center;
    background: #e6f0ff;
    /* Làm cho khối Hero này cao bằng toàn bộ màn hình TRỪ ĐI chiều cao của thanh Header */
    height: calc(100vh - 70px);
}

.hero-section .info {
    width: 50%;
}

.hero-section .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero-section .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero-section .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}
.hero-img {
    position: absolute;
    right: calc(
        (100vw - 1110px) / 2 - 100px
    ); /* Căn phải so với lề phải của .main-content */
    bottom: 0;
}

.hero-btn {
    margin-top: 40px;
    min-width: 170px;
}

/*================================================ CLIENTS =========================================================== */
.clients-section {
    margin-top: 80px;
}

.popularity {
    padding: 43px 0 64px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.popularity .row {
    display: flex;
    justify-content: space-between;
}

.popularity .number-rates {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.client-sponsors {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-sponsors a {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 90px;
}

.client-sponsors a:hover {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/*================================================ GUIDES =========================================================== */
.guides-section {
    padding: 79px 0 120px;
}

.guides-title {
    text-align: center;
}

.guides-title .title {
    min-width: 269px;
    height: 36px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 100%; /* 100% */
    margin-bottom: 20px;
}

.guides-title .title::before {
    content: "";
    display: block;
    width: 64px;
    height: 4px;
    background: var(--primary-color);
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 12px;
}

.guides-title .title-desc {
    width: 460px;
    margin: 0 auto;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.guide-lists {
    margin-top: 70px;
    text-align: center; /* Center all text inside guide-lists */
}

.guide-lists .rows {
    display: flex;
    justify-content: space-around;
}

.guide-lists .guide-choices {
    margin-top: 26px;
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-lists .guide-how {
    margin-top: 10px;
}

.guide-lists .guide-how a {
    text-decoration: none;
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-lists .more-btn {
    margin-top: 50px;
    min-width: 170px;
}

/*================================================ FEATURED PROPERTIES =========================================================== */
.fea-section {
    padding: 110px 0 110px;
    background: #f5fafe;
    height: 727px;
}

.fea-titles .title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 100%; /* 100% */
}

.fea-titles .sub-rows {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.fea-titles .sub-rows .sub-title {
    min-width: 407px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.fea-titles .fea-views .view-pro {
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}

.fea-lists > div {
    width: 100%;
    max-width: 350px;
    height: 227px;
    overflow: hidden;
    border-radius: 8px;
}

.fea-lists img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* hoặc 'contain' nếu muốn toàn bộ ảnh hiển thị */
    object-position: center;
}
